* {
    margin: 0;
    padding: 0;
}

/* a {
    text-decoration: none;
} */

.top {
    padding-bottom: 96px;
}

.header {
    padding-top: 40px;    
}

.top_content {
    margin-top: 84px;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;   
}

.top_buttons {
    margin-top: 37px;    
}

.top_logo {
    margin-top: 97px;
}